@import 'root.css';

/*Main site content*/

.info_header {
    font-size: 0.8rem;
    margin-left: 10vw;
    margin-top: 5vh;
}

.about_us {
    margin: 6vh 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_us_text {
    max-width: 500px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

/*Media queries*/

@media (min-width:1000px) {
    .info_header {
        text-align: center;
        font-size: 1rem;
        margin-left: 0px;
    }

    .about_us_text {
        max-width: 650px;
    }
}