@import 'root.css';

/*Main site content*/


.info_head_container {
    margin-top: 5vh;
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: center;
}

.info_head {
    background-image: url(../images/exhibition-1863344_1920-min.webp);
    width: 100vw;
    max-width: 600px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.info_head h1 {
    font-size: 2rem;
    text-align: center;
    margin-top: 5vh;
    text-shadow: var(--text-shadow-head);
}


.info_content {
    width: 100%;
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: grid;
    grid-template-areas: 
    'a'
    'b'
    'c'
    'd';
    justify-content: center;
    gap: 5vh;
}



.one {
    grid-area: a;
}

.two {
    grid-area: b;
}

.three {
    grid-area: c;
}

.four {
    grid-area: d;
}



.content_container h3 {
    margin: 10px;
}

.content_container p {
    max-width: 600px;
    padding-left: 5px;
    margin-bottom: auto;
}

/*Media queries*/

@media (min-width:1000px) {
    .info_content {
        grid-template-areas: 
        'a b'
        'c d';
    }


    .info_head {
        max-width: 60vw;
    }

}