* {
    margin: 0;
    padding: 0;
}
body {
    display: block;
    margin: 0;
    padding: 0;
}

:root {
    --main-bg-color:#f0f1f3;
    --navbar-color:#BFC6D9;
    --main-text-colo:#1A1A1A;
    --interesting-gradient:linear-gradient(120deg,#00c8b4,rgba(0, 200, 180, 0.164) 80%);


}

body {
    display: grid;
    grid-template-areas: 
    'head head'
    'main main'
    'main main'
    'main main'
    'main main'
    'main main'
    'main main'
    'main main'
    'main main'
    'main main'
    'footer footer';
    height: 100vh;
}

header {
    grid-area: head;
    background-color: #a5abbb;

}

main {
    grid-area: main;
    background-color: var(--main-bg-color);
}


footer {
    grid-area: footer;
    background-image: var(--interesting-gradient);
}

