* {
    margin: 0;
    padding: 0;
}


:root {
    --main-bg-color:#f0f1f3;
    --footer-color:#BFC6D9;
    --navbar-color:#E5E5FE;
    --main-text-colo:#1A1A1A;
    --line-color:#054D0F;
    --interesting-gradient:linear-gradient(100deg,# ,rgba(15, 199, 180, 0.164) 120%);
    --main-font:'Encode Sans', sans-serif;
}

body {
    font-family: var(--main-font);
    background-color: var(--main-bg-color);
    display: grid;
    grid-template-areas: 
    'head head'
    'main main'
    'footer footer';
    margin: 0;
    padding: 0;
}

header {
    grid-area: head;
    background-color: var(--navbar-color);
    border-radius: 0 0 10% 10%;
    height: fit-content;
    filter: drop-shadow(0 6px 4px rgba(5, 77, 15, 0.25));
    display: flex;
    flex-direction: row;
}

.mob_icon {
    width: 60px;
    padding: 10px;
}

.mob_icon img {
    height: 100%;
    width: 100%;
} 

.hamburger_menu {
    margin-left: auto;
    padding: 20px;
}
.hamburger_menu i {
    font-size: 2rem;
}


main {
    grid-area: main;
    height: 80vh;
}


footer {
    grid-area: footer;
    background-color: var(--footer-color);
    height: 20vh;
}

