* {
    margin: 0;
    padding: 0;
}


:root {
    --main-bg-color:#f0f1f3;
    --footer-color:#BFC6D9;
    --navbar-color:#E5E5FE;
    --main-text-colo:#1A1A1A;
    --line-color:#054D0F;
    --main-font:'Encode Sans', sans-serif;
    --drop-shadow: drop-shadow(0 6px 4px rgba(5, 77, 15, 0.25));
}

body {
    font-family: var(--main-font);
    background-color: var(--main-bg-color);
    display: grid;
    grid-template-areas: 
    'head head'
    'main main'
    'footer footer';
}

header {
    grid-area: head;
    background-color: var(--navbar-color);
    border-radius: 0 0 10% 10%;
    height: fit-content;
    filter: var(--drop-shadow);

}

.mobile_header {
    display: flex;
    flex-direction: row;

}

.mob_icon {
    width: 60px;
    padding: 20px;
}

.mob_icon img {
    height: 100%;
    width: 100%;
} 

.hamburger_menu {
    margin-left: auto;
    padding: 23px;
}
.hamburger_menu i {
    font-size: 2rem;
}


main {
    grid-area: main;
    height: fit-content;
}

footer {
    grid-area: footer;
    background-color: var(--footer-color);
    height: 16vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_title {
    font-weight: 700;
    margin-top: 10px;
    font-size: 1.1rem;
}

.social_media {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 30px;
    font-size: 1.8rem;
}