@import 'root.css';

/*Main site content*/

.info_head_container {
    margin-top: 5vh;
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: center;
}

.info_head {
    background-image: url(../images/william-bout-264826-min.webp);
    width: 100vw;
    max-width: 600px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.info_head h1 {
    font-size: 2rem;
    text-align: center;
    margin-top: 5vh;
    text-shadow: var(--text-shadow-head);
}


.info_content {
    width: 100%;
    margin-top: 6vh;
    margin-bottom: 5vh;
    display: grid;
    grid-template-areas:
    'a'
    'b'
    'c';
    justify-content: center;
    gap: 5vh;
}



.one {
    grid-area: a;
}

.two {
    grid-area: b;
}

.three {
    grid-area: c;
}


.content_container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 700;
}



/*Media queries*/

@media (min-width:1000px) {
    .info_content {
        grid-template-areas: 
        '. a a a .  '
        'b b . c c';

    }

    .info_head {
        font-size: 0.8rem;
        max-width: 60vw;
    }


    .content_container h2 {
        font-size: 1.4rem;
        padding-top: 10px;

    }
    
    .content_container p {
        font-size: 1.1rem;
    }
}

@media (min-width:1600px) {
    .content_container h2 {
        font-size: 1.7rem;

    }
    
    .content_container p {
        font-size: 1.4rem;
    }
    .info_head h1 {
        font-size: 2.5rem;
    }
}